// Set mixins here

@mixin font-size($font-size, $line-height: 1) {
	font-size: $font-size;
	line-height: $line-height; 
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: -50%;
	transform: translateY(-50%);
}