// Set your variables here

$desk: 1280px;
$lap: 1024px;
$tablet-wide: 960px;
$tablet: 769px;
$phablet: 650px;
$mobile: 480px;

$darkgrey: #656565;
$lightgrey: #EAEAEA;

$orange: #f90;

$ffss: 'Slabo 27px', serif;
$ff: 'Roboto', sans-serif;