.article {
	h1 {
		margin: 0;
		line-height: 1;
	}
}

.article__posted {
	margin: 10px 0;
	@include font-size(14px);
}

.article__image {
	width: 100%;
	height: auto;
}

.article__text {
	@media(max-width: $phablet) {
		display: flex;
		flex-wrap: wrap;
	}
	
}

.article__more {
	
	@media(max-width: $phablet) {
		margin: 20px -0px;
		order: 99;
	}
	
	ul {
		margin-top: 0;

		@media(max-width: $phablet) {
			margin: 0 0 0 -20px;
		}
	}
	
	&--right {
		float: right;

		@media(max-width: $phablet) {
			float: none;
		}
	}

	h3 {
		margin: 0 0 0 20px;

		@media(max-width: $phablet) {
			margin: 0;
		}
	}

}