// Menu style

.menu {
	background: lightgrey;
	padding: 10px;
	margin: 20px 0;
	
	@media(max-width: $phablet) {
		background: none;
	}


	ul {
		display: flex;
		justify-content: space-between;
		margin: 0;
		list-style: none;
		padding: 0 10px;

		@media(max-width: $phablet) {
			transition: all ease 0.3s;
			display: block;
			background: lightgrey;
			max-height: 0;
			opacity: 0;

			li {
				display: block;
				text-align: center;
				padding: 10px 0px;
			}
		}
	}

}

.menu__toggler {
	display: none;
	@media(max-width: $phablet) {
		&:checked + ul {
			max-height: 1000px;
			opacity: 1;
		}
	}
	
}

.menu__toggler-label {
	cursor: pointer;
	display: none;
	text-align: center;

	span {
		padding: 5px;
		display: inline-block;
		background: lightgrey;
		border: 2px solid darkgrey;
	}

	@media(max-width: $phablet) {
		display: block;
		margin-bottom: 20px;
	}
}
