.social-list {
	display: inline-block;
	list-style: none;
	float: right;
	margin: 0;

	@media(max-width: $phablet) {
		display: none
	}

	li {
		display: inline-block;
		margin-right: 10px;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		background: $lightgrey;
		
	}

	img {
		width: 20px;
		text-align: center;
		display: block;
		margin: 10px auto;
	}

	&--footer {
	    width: 100%;
	    margin: 0 auto;
	    background: white;
	    padding: 5px 0;
	    text-align: center;
	    background: none;
	    display: none;

		@media(max-width: $phablet) {
			display: block;
		}
	}
}