<!-- index.nunjucks -->
{% extends "./base/layout.html" %}

{% block content %}

	<section class="challenge__landing">
		
		<h1 class="challenge__title">Ian Moss <br> Sainsburys Coding Test</h1>
		<div class="challenge challenge__javascript">
			<a href="javascript.html">Javascript</a>
		</div>

		<div class="challenge challenge__sass">
			<a href="sass.html">SASS</a>
		</div>

	</section>

{% endblock %}
