<!-- index.nunjucks -->
{% extends "./base/layout.html" %}

{% block content %}


	<header class="main__header">
		<a href="index.html" class="main__link">
			<img src="http://www.placehold.it/40x40?text=Logo" alt="Logo" class="main__logo" />
			<span class="main__name">
				Moss Co.
			</span>
		</a>
		
		<ul class="social-list">
			<li>
				<a href="http://www.facebook.com/" target="_blank">
					<img src="assets/images/icons/facebook.png" alt="" />
				</a>
			</li>
			<li>
				<a href="http://www.twitter.com/" target="_blank">
					<img src="assets/images/icons/twitter.png" alt="" />
				</a>
			</li>
			<li>
				<a href="http://plus.google.com/" target="_blank">
					<img src="assets/images/icons/google-plus.png" alt="" />
				</a>
			</li>
		</ul>

		<nav class="menu">
			
			<label for="menu__toggler" class="menu__toggler-label"><span>Menu</span></label>
			<input type="checkbox" class="menu__toggler" id="menu__toggler" />

			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">eBooks</a></li>
				<li><a href="#">Magazines</a></li>
				<li><a href="#">Movies</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</nav>

	</header>

	<section class="main">
		
		<div class="main__left">
			<article class="article">
				<h1>Lorem ipsum dolor</h1>
				<div class="article__posted">
					Post on <time>15 May</time> by Ian Moss
				</div>
				<img src="http://www.placehold.it/400x300" alt="" class="article__image"/>
				
				<div class="article__text">
					<div class="article__more article__more--right">
						<h3>More...</h3>
						<ul>
							<li><a href="#">Link 1</a></li>
							<li><a href="#">Another Link</a></li>
							<li><a href="#">Third Link</a></li>
						</ul>
						
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptates temporibus illo minima, nesciunt quod odio, at architecto fuga, magnam sint eius! Ipsam nisi esse sit obcaecati, ipsa a iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptates temporibus illo minima, nesciunt quod odio, at architecto fuga, magnam sint eius! Ipsam nisi esse sit obcaecati, ipsa a iusto.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit neque, illum quae ipsam voluptate, tempore nesciunt dolore aliquid error commodi corrupti ipsum dolorum ea incidunt nam provident officia iste fuga.
					</p>
				</div>

			</article>
			
		</div>
		<div class="main__right">
			
			<aside>
				
				<div class="sidebar__item">
					<a href="#">
					<span class="h2">A guide to snoopsetting</span>
					<img src="http://www.placehold.it/100x100" alt="" />
					</a>
				</div>	

				<div class="sidebar__item">
					<a href="#">
					<span class="h2">Welcome to the Surveillance State</span>
					<img src="http://www.placehold.it/100x100" alt="" />
					</a>
				</div>	

			</aside>

		 </div>
	</section>

	<footer>
		<ul class="social-list social-list--footer">
			<li>
				<a href="http://www.facebook.com/" target="_blank">
					<img src="assets/images/icons/facebook.png" alt="" />
				</a>
			</li>
			<li>
				<a href="http://www.twitter.com/" target="_blank">
					<img src="assets/images/icons/twitter.png" alt="" />
				</a>
			</li>
			<li>
				<a href="http://plus.google.com/" target="_blank">
					<img src="assets/images/icons/google-plus.png" alt="" />
				</a>
			</li>
		</ul>
	</footer>



{% endblock %}
