// header styles

.main__header {
	padding: 20px 40px 0;
}

.main__link {
	display: inline-block;
	color: black;
	
	&:hover {
		text-decoration: none;
	}
}

.main__logo {
	display: inline-block;
}

.main__name {
	@include font-size(25px);
	display: inline-block;
	@include vertical-align();
	text-decoration: none;
	font-family: $ffss;
}

