// Core structure styles

* {
	box-sizing: border-box;
}

body {
	background: lightgrey;
	padding: 20px 0;

	a {
		color: black;
		text-decoration: none;
	
		&:hover {
			text-decoration: underline;
		}
	}

	@media(max-width: $phablet) {
		padding: 0;
	}
}

.container {
	width: 100%;
	max-width: $phablet;
	margin: 0 auto;
	background: white;
}

.main {
	padding: 0 40px 0;
	display: flex;

	@media(max-width: $phablet) {
		flex-wrap: wrap;
	}
}

.main__left {
	width: calc(80% - 20px);
	margin-right: 20px;
	
	@media(max-width: $phablet) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.main__right {
	width: 20%;
	@media(max-width: $phablet) {
		width: 100%;
	}

}