// Page styles
#images {
    list-style: none;
    margin-left: 0;
    
    li {
        display: inline-block;
        margin: 0 10px 10px 0;
        cursor: pointer;
        position: relative;
        
        &:before {
            content: '';
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.4);
        }
        
        &.selected:after {
            content: 'Selected!';
            width: 100%;
            padding: 5px 0;
            text-align: center;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255,255,255,.7);
        }
	    
	    &:hover:before  {
            display: block;
	    }
    }
    
}

                

            