// Page styles


.challenge__landing {
	padding: 40px;
	text-align: center;
}

.challenge__title {
	width: 100%;
	display: block;
}

.challenge {
	display: inline-block;
	width: calc(50% - 20px);

	a {
		padding: 50px;
		width: 100%;
		height: 100%;
		background: $orange;
		font-weight: bold;
		text-align: center;
		color: white;
		display: block;
	}

	@media(max-width: $phablet) {
		width: 100%;
		margin-bottom: 20px;
	}
}